* {
  padding: none;
  margin: none;
}

.jumbotron {
  align-content: center;
  text-align: center;
}

h1 {
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
}

.background {
  /*background-color: rgba(125,120,0,0.2);*/
  background-image: url('background.JPG');
  min-height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  align-content: center;
  text-align: center;
  justify-content: center;
  height: 100vh;
}

.content {
  max-width: 90%;
  background-color: white;
  padding: 30px;
  border: 2px dashed black;
  border-radius: 10px;
}

.content > img {
  max-width: 30vw;
}

#inputArea {
  padding-top: 20px;
}

input{type=file} {
  margin: 20px auto;
}

.config {
  margin-top: 10px;
}

#errField {
  margin-top: 50px;
}

.alert .btn {
  float: right;
}

.alert span {
  line-height: 50px;
}

.alert > div:after {
  clear: both;
  content: '';
  display: table;
}
